#ticket_form {
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    font-family: sans-serif;
    transition: all 0.3s ease;
}

#ticket_form.success {
    overflow: hidden;
    height: 0px;
    padding: 0px;
}

#ticket_form .outdated {
    border-color: red;
    background-color: #ffdddd;
}

#action_container {
    margin: auto;
}

#ticket_form,
#action_container {
    max-width: 610px;
    width: 100%;
}

#ticket_form label {
    margin: 10px 0px;
    display: block;
    text-transform: capitalize;
}

#ticket_panel label.small {
    font-size: 12px;
    display: inline-block;
}

#ticket_form input {
    width: 100%;
    height: 30px;
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
}

#ticket_form input,
#ticket_form textarea,
#ticket_form select {
    max-width: 600px;

}

#ticket_form textarea {
    width: 100%;
    height: 100px;
    display: block;
    margin-bottom: 10px;
}

#ticket_form button {
    color: white;
    font-weight: bold;
    background-color: #f26522;
    border: none;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 4px;
    right: 12px;
    position: absolute;
    cursor: pointer;
}

#ticket_form #cancel_button {
    right: 160px;
}

#ticket_form select {
    padding-top: 3px;
    width: 100%;
    font-size: 24px;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
}

#ticket_form .other {
    margin-top: 0px;
    height: 0px;
    border-width: 0px;
}

#ticket_form .other.showing {
    margin-top: 5px;
    height: auto;
    border-width: 1px;
}

#output {
    border: 1px solid black;
    opacity: 0;
    transition: all 0.3s ease;

}

#output.failure {
    color: red;
    opacity: 1;
    border-color: #ffaaaa;
    padding: 10px;
    margin: 20px 20px;
}

#output.success {
    color: green;
    opacity: 1;
    border-color: #aaffaa;
    padding: 10px;
    margin: auto auto;
    max-width: 450px;
    width: 95%;
}

#output label {
    font-family: sans-serif;
    display: block;
    text-align: center;
}

button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#ticket_panel {
    display: grid;
    grid-template-rows: 50px 35px 1fr;
    grid-template-columns: 200px 1fr;
    min-height: 500px;
    border: 1px solid lightgray;
    font-family: sans-serif;
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
    border-bottom: 7px solid rgb(36, 36, 36);
    margin: auto;
    width: 95%;
    max-width: 900px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

#ticket_panel.client {
    grid-template-columns: none;
    grid-template-rows: none;
    padding-bottom: 20px;
    padding-top: 40px;
    position: relative;
}

#ticket_panel.client:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 45px;
    background-color: rgb(36, 36, 36);
    width: 100%;
}

#nav {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(36, 36, 36);
}

#nav ul {
    list-style-type: none;
    margin-block-start: 0px;
    padding-inline-start: 10px;
    margin: 0px;
    display: none;
}

#nav ul.logged_in {
    display: block;
}

#nav ul li {
    display: inline-block;
    padding: 15px 10px;
    color: white;
    cursor: pointer;
}

#ticket {
    grid-row-start: 2;
    grid-row-end: 4;
    padding-bottom: 20px;
}

#ticket_tabs {
    border-right: 1px solid gray;
    position: relative;
    z-index: 2;
}



#ticket_tabs .tab {
    background-color: white;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 12px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    float: right;
    cursor: pointer;
    display: none;

}

#ticket_tabs.logged_in .tab {
    display: block;
}

#ticket_tabs .tab.selected {
    border-bottom: 0px;
    margin-top: 11px;
}

#ticket_list {
    grid-row: 3;
    overflow: hidden;
    border-right: 1px solid gray;
}

#ticket_list>div {
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
    min-height: 100%;
    width: 220px;
}

#ticket_list>div>div {
    width: 220px;

    height: 100%;
    font-size: 24px;
    border: none;
    border-top: 1px solid grey;

}

#ticket_list>div>div .option {
    cursor: pointer;
    padding: 5px 5px;
}

#ticket_list>div>div .option.unread {
    background-color: #ffaaaa;
}

#ticket_list>div>div .option.read {
    background-color: #ddddff;
}

#ticket_list>div>div .option.awaiting {
    background-color: #ffffaa;
}

#ticket_list>div>div .option.selected {
    background-color: #f26522;
    font-weight: bold;
    color: white;
}

h1.customer_name h4 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}