.form_container {
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease;
}

.form_container.success {
    height: 0px;
    overflow: hidden;
    padding: 0px;
}

.form_container .outdated {
    border-color: red;
    color: #ffdddd;
}

.action_container {
    margin: auto;
}

.action_container button {
    margin-left: 5px;
}

.form_container,
.action_container {
    max-width: 610px;
    width: 100%;
}

.form_container label {
    color: #111;
    display: block;
    margin: 7px 0px 0px 0px;
    text-transform: capitalize;
}

.drop_down>label:first-child {
    cursor: pointer;
    margin-bottom: 10px !important;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #a1c0ff;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a1c0ff;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

::placeholder {
    color: #a1c0ff;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

.panel label.small {
    display: inline-block;
    font-size: 12px;
}

.panel label.timeago {
    display: block;
    font-size: 10px;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
}

.form_container input {
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
    display: block;
    font-size: 24px;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
}

.form_container input[name=status] {
    text-transform: uppercase;
}

.form_container input,
.form_container textarea,
.form_container select,
.form_container option {
    color: rgb(15, 15, 15);
    max-width: 600px;
}

.form_container input:disabled,
.form_container textarea:disabled,
.form_container select:disabled,
.form_container option:disabled {
    background-color: rgba(208, 216, 255, 0.1);
    border: none;
}

.form_container option {
    color: black;
}

.form_container textarea {
    display: block;
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
}

.form_container button {
    background-color: #f26522;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 30px;
    position: absolute;
    right: 12px;
}

.data_container .call_control {
    position: relative;
}

.data_container .call_control .time {
    display: inline-block;
}

.data_container .call_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 1fr;
    padding-bottom: 5px;
}

.data_container .call_info>div {
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 40px;
    text-align: center;
}

.data_container .call_info>div input {
    display: inline-block;
    font-size: 16px;
    height: auto;
    margin: 0px;
    text-align: center;
    width: 150px;
}

.data_container .call_info>div:nth-child(5) {
    grid-column-end: 3;
    grid-column-start: 1;
    line-height: normal;
    text-align: left;
}

.data_container .call_info>div:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.data_container .call_info label {
    margin: 0px;
}

.data_container .call_info .drop_down label {
    margin-top: 7px;
    background-color: rgba(208, 216, 255, 0.4);
    padding: 5px;
}

/* .data_container .call_info .duration {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    line-height: 60px;
}

.data_container .call_info .duration .time {
    margin-top: 7px;
    font-size: 40px;
} */
.data_container .call_info .info {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

.data_container .call_control button {
    background-color: #EFEFEF;
    border: none;
    border-radius: 0px;
    color: black;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    position: relative;
}

.data_container .call_control .call {
    border: 1px solid white;
    border-width: 1px 0px 1px 0px;
    margin-top: 10px;
    padding: 10px;
    padding-top: 0px;
    position: relative;
}

.data_container .call_control .call.ongoing .id {
    margin-left: 28px;
}

.data_container .call_control .call.ongoing:after {
    animation: alert 2s ease-in 0s infinite;
    background-color: rgb(255, 85, 85);
    border-radius: 12px;
    content: '';
    height: 24px;
    left: 5px;
    position: absolute;
    top: 4px;
    width: 24px;
}

.data_container .call_control>label {
    margin-top: 5px;
}

.data_container .call_control .id {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.data_container .drop_down {
    background-color: rgba(208, 216, 255, 0.4);
    border-bottom: 5px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    height: 32px;
    margin-top: 5px;
    overflow: hidden;
    padding: 10px;
    padding-top: 0px;
    position: relative;
    transition: all 0.3s ease;
}

.data_container .drop_down.showing {
    background-color: transparent;
    border-radius: 0px;
    height: 140px;
}

.data_container .call_control.showing,
.data_container .call.showing {
    height: auto;
}

.data_container .call_info .drop_down {
    border-bottom: 2px solid white;
}

.data_container .drop_down:before {
    color: #111;
    content: ">";
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 5px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.call_info .drop_down:before {
    top: 12px;
}

.form_container #cancel_button {
    right: 160px;
}

.data_container .drop_down.showing:before {
    transform: rotate(90deg);
}

.form_container select {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
    font-size: 22px;
    height: 30px;
    padding-top: 3px;
    text-transform: capitalize;
    width: 100%;
}

.form_container .other {
    border-width: 0px !important;
    height: 0px !important;
    margin-top: 0px;
}

.form_container .other.showing {
    border-width: 1px !important;
    height: auto !important;
    margin-top: 5px;
}

#output {
    background-color: #ffcccc;
    border: 1px solid black;
    color: red;
    height: auto;
    opacity: 0;
    transition: all 0.3s ease;
}

#output.failure {
    border-color: #ffaaaa;
    margin: 20px 20px;
    opacity: 1;
    padding: 10px;
}

#output.success {
    background-color: #ccffcc;
    border-color: #aaffaa;
    color: green;
    margin: auto auto;
    max-width: 450px;
    opacity: 1;
    padding: 10px;
    width: 95%;
}

#output label {
    display: block;
    font-family: sans-serif;
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.panel {

    border: 1px solid lightgray;
    border-bottom: 7px solid rgb(36, 36, 36);
    border-radius: 5px 5px 10px 10px;
    display: grid;
    /* background: linear-gradient(200deg, #3586d8 0%, #00197d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3586d8', endColorstr='#00197d', GradientType=1); */
    font-family: sans-serif;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 35px 1fr;
    margin: auto;
    max-width: 900px;
    min-height: 500px;
    overflow: hidden;
    width: 95%;
}

.panel.client {
    grid-template-columns: none;
    grid-template-rows: none;
    padding-bottom: 20px;
    padding-top: 40px;
    position: relative;
}

.panel.client:before {
    background-color: rgb(36, 36, 36);
    content: "";
    height: 45px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.nav {
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #242424 0%, #2a2a2a 50%, #242424 95%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #242424 0%, #2a2a2a 50%, #242424 95%);
    /* IE6-9 */

    position: relative;
    /* Old browsers */
    background: -moz-linear-gradient(top, #242424 0%, #2a2a2a 50%, #242424 95%);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#242424+0,2a2a2a+50,242424+95 */
    background: #242424;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#242424', GradientType=0);
    box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.4);
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row: 1;
    z-index: 4;
}

.nav .search_box {
    border: none;
    height: 30px;
    position: absolute;
    right: 8px;
    top: 9px;
    width: 250px;
}

.nav ul {
    display: none;
    list-style-type: none;
    margin: 0px;
    margin-block-start: 0px;
    margin-top: 11px;
    padding-inline-start: 10px;
}

.nav ul.logged_in {
    display: block;
}

.nav ul li {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
}

.data_container {
    color: #111;
    grid-row-end: 4;
    grid-row-start: 2;
    padding-bottom: 20px;
    position: relative;
}

.data_container::before {
    background-color: rgba(208, 216, 255, 0.4);
    content: '';
    height: 100%;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 2;
}

.panel.waiting .data_container::before {
    opacity: 1;
    pointer-events: all;
}

.data_container>div {
    opacity: 1;
    transition: all 0.3s ease;
}

.panel.waiting .data_container>div {
    opacity: 0;
}

.tab_container {
    background: #ea652c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 2;
}

.tab_container .tab {
    border-color: gray;
    color: lightgray;
    cursor: pointer;
    display: none;
    float: right;
    font-size: 14px;
    line-height: 24px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    padding: 5px 10px;
    padding-bottom: 4px;
    text-align: center;
}

.tab_container.logged_in .tab {
    display: block;
}

.tab_container .selected {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
}

.list {
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ea652c 0%, #ef4b00 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ea652c 0%, #ef4b00 100%);
    /* Old browsers */
    background: -moz-linear-gradient(left, #ea652c 0%, #ef4b00 100%);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ea652c+0,ef4b00+100 */
    background: #ea652c;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea652c', endColorstr='#ef4b00', GradientType=1);
    grid-row: 3;
    overflow: hidden;
}

.list .small {
    vertical-align: middle;
}

.list>div {
    height: 500px;
    min-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    width: 220px;
}

.list>div>div {
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(241, 148, 108, 1) 0%, rgba(247, 197, 176, 0) 46%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(241, 148, 108, 1) 0%, rgba(247, 197, 176, 0) 46%, rgba(255, 255, 255, 0) 100%);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f1946c+0,ffffff+100&1+0,0+46 */
    background: -moz-linear-gradient(top, rgba(241, 148, 108, 1) 0%, rgba(247, 197, 176, 0) 46%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1946c', endColorstr='#00ffffff', GradientType=0);
    border: none;
    font-size: 20px;
    height: 100%;
    padding-top: 2px;
    width: 220px;
}

.list>div>div .option {
    border-color: gray;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.list>div>div .option * {
    cursor: pointer;
}

.list>div>div .option .small {
    border-radius: 12px;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.list>div>div .option.closed {
    color: #d6d6d6;
    display: none;
}

.list>div>div .option.closed .small {
    background-color: lightgray;
}

.list>div>div.closed .option {
    display: none;
}

.list>div>div.closed .option.closed {
    display: block;
}

.list>div>div .option.unread .small {
    animation: alert 2s ease-in 0s infinite;
    background-color: rgb(255, 98, 98);
}

@keyframes alert {
    0% {
        background-color: #ffa9a9;
    }

    25% {
        background-color: rgb(255, 45, 45);
    }

    75% {
        background-color: rgb(255, 45, 45);
    }

    100% {
        background-color: #ffa9a9;
    }
}

.list>div>div .option.read .small {
    background-color: rgb(0, 153, 255);
    color: #fff;
}

.list>div>div .option.awaiting .small {
    background-color: #fdf59a;
}

.list>div>div .option:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.list>div>div .option.selected {
    background-color: #276ac1;
    color: white;
    font-weight: bold;
}

.search_result {
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 5px;
    padding-left: 20px;
}

.search_result:hover {
    background-color: #317dd0;
}

.search_result h2,
.search_result h4 {
    margin: 5px auto;
}

h1.customer_name h4 {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}

.loader {
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    border-radius: 50%;
    color: #ffffff;
    font-size: 90px;
    height: 1em;
    left: calc((100%-300px)/2);
    margin: 72px auto;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-indent: -9999em;
    top: 200px;
    transform: translateZ(0);
    transition: all 0.3s ease;
    width: 1em;
    z-index: 3;
}

.panel.waiting .loader {
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    opacity: 1;
    pointer-events: all;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}