#ticket_form {
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    font-family: sans-serif;
    transition: all 0.3s ease;
}

#ticket_form.success {
    overflow: hidden;
    height: 0px;
    padding: 0px;
}

#ticket_form .outdated {
    border-color: red;
    color: #ffdddd;
}

#action_container {
    margin: auto;
}

#action_container button {
    margin-left: 5px;
}

#ticket_form,
#action_container {
    max-width: 610px;
    width: 100%;
}

#ticket_form label {
    margin: 7px 0px 0px 0px;
    color: #fff;
    display: block;
    text-transform: capitalize;
}

.drop_down>label:first-child {
    cursor: pointer;
    margin-bottom: 10px !important;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #a1c0ff;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 24px;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a1c0ff;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 24px;

}

::placeholder {
    color: #a1c0ff;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 24px;
    ;
}

#ticket_panel label.small {
    font-size: 12px;
    display: inline-block;
}

#ticket_panel label.timeago {
    display: block;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

#ticket_form input {
    width: 100%;
    height: 30px;
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
}

#ticket_form input[name=status] {
    text-transform: uppercase;
}

#ticket_form input,
#ticket_form textarea,
#ticket_form select,
#ticket_form option {
    max-width: 600px;
    background-color: rgba(208, 216, 255, 0.4);
    color: white;
}

#ticket_form input:disabled,
#ticket_form textarea:disabled,
#ticket_form select:disabled,
#ticket_form option:disabled {
    background-color: rgba(208, 216, 255, 0.1);
    border: none;
}

#ticket_form option {
    color: black;
}

#ticket_form textarea {
    width: 100%;
    height: 100px;
    display: block;
    margin-bottom: 10px;
}

#ticket_form button {
    color: white;
    font-weight: bold;
    background-color: #f26522;
    border: none;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 4px;
    right: 12px;
    position: absolute;
    cursor: pointer;
}

#ticket .call_control {
    position: relative;
}

#ticket .call_control .time {
    display: inline-block;
}

#ticket .call_info {
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 1fr;
}

#ticket .call_info>div {
    text-align: center;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
}

#ticket .call_info>div input {
    display: inline-block;
    margin: 0px;
    height: auto;
    font-size: 16px;
    width: 150px;
    text-align: center;

}

#ticket .call_info>div:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    line-height: normal;
}

#ticket .call_info>div:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
}

#ticket .call_info label {
    margin: 0px;
}

#ticket .call_info .drop_down label {
    margin-top: 7px;
}

/* #ticket .call_info .duration {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    line-height: 60px;
}

#ticket .call_info .duration .time {
    margin-top: 7px;
    font-size: 40px;
} */

#ticket .call_info .info {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

#ticket .call_control button {
    color: black;
    background-color: white;
    position: relative;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0px;
}

#ticket .call_control .call {
    margin-top: 10px;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid white;
    border-width: 1px 0px 1px 0px;
    position: relative;
}

#ticket .call_control .call.ongoing .id {
    margin-left: 28px;
}

#ticket .call_control .call.ongoing:after {
    content: '';
    height: 24px;
    width: 24px;
    background-color: rgb(255, 85, 85);
    border-radius: 12px;
    position: absolute;
    top: 4px;
    left: 5px;
    animation: alert 2s ease-in 0s infinite;
}

#ticket .call_control>label {
    margin-top: 5px;
}

#ticket .call_control .id {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

#ticket .drop_down {
    height: 32px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    transition: all 0.3s ease;
    padding: 10px;
    padding-top: 0px;
    margin-top: 5px;
    background-color: rgba(208, 216, 255, 0.4);
    border-radius: 5px;
    border-bottom: 5px solid white;
}



#ticket .drop_down.showing {
    height: 140px;
    background-color: transparent;
    border-radius: 0px;
}

#ticket .call_control.showing,
#ticket .call.showing {
    height: auto;
}

#ticket .call_info .drop_down {
    border-bottom: 2px solid white;
}

#ticket .drop_down:before {
    content: ">";
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 8px;
    color: white;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

#ticket_form #cancel_button {
    right: 160px;
}

#ticket .drop_down.showing:before {
    transform: rotate(90deg);
}

#ticket_form select {
    padding-top: 3px;
    width: 100%;
    font-size: 22px;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(197, 197, 197);
    text-transform: capitalize;
}

#ticket_form .other {
    margin-top: 0px;
    height: 0px;
    border-width: 0px;
}

#ticket_form .other.showing {
    margin-top: 5px;
    height: auto;
    border-width: 1px;
}

#output {
    border: 1px solid black;
    opacity: 0;
    transition: all 0.3s ease;
    color: red;
    background-color: #ffcccc;
    height: auto;
}

#output.failure {
    opacity: 1;
    border-color: #ffaaaa;
    padding: 10px;
    margin: 20px 20px;
}

#output.success {
    color: green;
    background-color: #ccffcc;
    opacity: 1;
    border-color: #aaffaa;
    padding: 10px;
    margin: auto auto;
    max-width: 450px;
    width: 95%;
}

#output label {
    font-family: sans-serif;
    display: block;
    text-align: center;
}

button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#ticket_panel {
    display: grid;
    grid-template-rows: 50px 35px 1fr;
    grid-template-columns: 200px 1fr;
    min-height: 500px;
    border: 1px solid lightgray;
    font-family: sans-serif;
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
    border-bottom: 7px solid rgb(36, 36, 36);
    margin: auto;
    width: 95%;
    max-width: 900px;

    background: #005dba;
    background: -moz-linear-gradient(20deg, #3586d8 0%, #00197d 100%);
    background: -webkit-linear-gradient(20deg, #3586d8 0%, #00197d 100%);
    background: linear-gradient(200deg, #3586d8 0%, #00197d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3586d8', endColorstr='#00197d', GradientType=1);
}


#ticket_panel.client {
    grid-template-columns: none;
    grid-template-rows: none;
    padding-bottom: 20px;
    padding-top: 40px;
    position: relative;
}

#ticket_panel.client:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 45px;
    background-color: rgb(36, 36, 36);
    width: 100%;
}

#nav {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#242424+0,2a2a2a+50,242424+95 */
    background: #242424;
    /* Old browsers */
    background: -moz-linear-gradient(top, #242424 0%, #2a2a2a 50%, #242424 95%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #242424 0%, #2a2a2a 50%, #242424 95%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #242424 0%, #2a2a2a 50%, #242424 95%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#242424', GradientType=0);
    /* IE6-9 */

    position: relative;
    z-index: 4;
    box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.4);
}

#nav #search_box {
    position: absolute;
    right: 8px;
    top: 9px;
    height: 30px;
    border: none;
    width: 250px;
}

#nav ul {
    list-style-type: none;
    margin-block-start: 0px;
    padding-inline-start: 10px;
    margin: 0px;
    display: none;
    margin-top: 11px;
}

#nav ul.logged_in {
    display: block;
}

#nav ul li {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

#ticket {
    grid-row-start: 2;
    grid-row-end: 4;
    padding-bottom: 20px;
    position: relative;
    color: #ddd;
}

#ticket::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    height: 100%;
    background-color: rgba(208, 216, 255, 0.4);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

#ticket_panel.waiting #ticket::before {
    opacity: 1;
    pointer-events: all;
}

#ticket>div {
    transition: all 0.3s ease;
    opacity: 1;
}

#ticket_panel.waiting #ticket>div {
    opacity: 0;
}

#ticket_tabs {
    background: #ea652c;

    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#ticket_tabs .tab {
    display: inline-block;
    padding: 5px 10px;
    padding-bottom: 4px;
    margin-top: 2px;
    margin-right: 2px;
    line-height: 24px;
    margin-left: 2px;
    font-size: 14px;
    border-color: gray;
    float: right;
    cursor: pointer;
    display: none;
    text-align: center;

}

#ticket_tabs.logged_in .tab {
    display: block;
}

#ticket_tabs .selected {
    color: white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
}

#ticket_list {
    grid-row: 3;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ea652c+0,ef4b00+100 */
    background: #ea652c;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ea652c 0%, #ef4b00 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ea652c 0%, #ef4b00 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ea652c 0%, #ef4b00 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea652c', endColorstr='#ef4b00', GradientType=1);
    /* IE6-9 */


}

#ticket_list .small {
    vertical-align: middle;
}

#ticket_list>div {
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
    min-height: 100%;
    width: 220px;
}

#ticket_list>div>div {
    width: 220px;
    padding-top: 2px;
    height: 100%;
    font-size: 20px;
    border: none;

}

#ticket_list>div>div .option {
    color: white;
    cursor: pointer;
    padding: 10px;
    border-width: 0px 0px 0px 0px;
    border-color: gray;
    border-style: solid;
}

#ticket_list>div>div .option .small {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

#ticket_list>div>div .option.closed {
    display: none;
    color: #d6d6d6;
}

#ticket_list>div>div .option.closed .small {
    background-color: lightgray;
}

#ticket_list>div>div.closed .option {
    display: none;
}

#ticket_list>div>div.closed .option.closed {
    display: block;
}

#ticket_list>div>div .option.unread .small {
    background-color: rgb(255, 98, 98);
    animation: alert 2s ease-in 0s infinite;
}

@keyframes alert {
    0% {
        background-color: rgb(255, 98, 98);
    }

    50% {
        background-color: rgb(255, 45, 45);
    }

    100% {
        background-color: rgb(255, 98, 98);
    }
}

#ticket_list>div>div .option.read .small {
    background-color: rgb(0, 153, 255);
    color: #fff;
}

#ticket_list>div>div .option.awaiting .small {
    background-color: #fdf59a;
}

#ticket_list>div>div .option:hover {
    background-color: #ff874f;
}

#ticket_list>div>div .option.selected {
    background-color: #f26522;
    font-weight: bold;
    color: white;
}

.search_result {
    padding: 5px;
    padding-left: 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.search_result:hover {
    background-color: #317dd0;
}

.search_result h2,
.search_result h4 {
    margin: 5px auto;
}

h1.customer_name h4 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    top: 200px;
    z-index: 3;
    left: calc((100%-300px)/2);
    transform: translateX(50%);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    transition: all 0.3s ease;
}

#ticket_panel.waiting .loader {
    opacity: 1;
    pointer-events: all;
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}